<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User information</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>
        The number of user in your Database is:<%=count%>
    </h2>
    <form method="get" action="/user">
        <div id="user">
            <Button id="user-btn">Show All Users</Button>
        </div>
    </form>
</body>

</html>